@use "./abstracts";
@use "./components";

/* Wrapper */

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Image Sidebar */

.image-sidebar {
  display: flex;
  flex-direction: column;
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .logo-section {
    display: flex;
  }

  .image-credit {
    margin-top: auto;
  }
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    padding: 4px;
    gap: 4px;
    font-size: 14px;
    
    .footer-github {
      height: 24px;
    }
  }
}

